@font-face {
  font-family: "InterFace-Regular";
  src: url("../fonts/InterFace-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "InterFace-Bold";
  src: url("../fonts/InterFace-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "InterFace-Thin";
  src: url("../fonts/InterFace-Thin.ttf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "InterFace-Thin", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 95vw;
  margin: 0 auto;
}

.title {
  font-family: "InterFace-Thin";
  font-size: 58px;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60px;
  height: 3px;
  background-color: #b9924e;
}

.header {
  background-color: #000000;
  font-family: "InterFace-Regular";
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.navigation__burger {
  display: none;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation__list.open {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.navigation__item {
  margin: 0 5vw 0 0;
}

.navigation__link {
  color: #b28b48;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navigation__link:hover {
  color: #ffffff;
}

.lang {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  position: relative;
  z-index: 3;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.lang:hover {
  background-color: #ac8f53;
}

.lang:hover p {
  color: #000000;
}

.lang:hover .lang__list {
  opacity: 1;
}

.lang p {
  color: #b28b48;
}

.lang__list {
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #ac8f53;
  padding: 6px 10.5px 0;
  opacity: 0;
}

.lang__item {
  margin: 0 0 10px;
}

.lang__link {
  color: #000000;
}

.lang__link:hover {
  color: #ffffff;
}

.main {
  width: 100vw;
  overflow: hidden;
}

.mainscreen {
  background: url(../assets/BG.jpg) 0 0/cover no-repeat;
  width: 100vw;
  height: 130vh;
  position: relative;
}

.mainscreen__container {
  max-width: 90vw;
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
  font-family: "InterFace-Thin";
}

.mainscreen__title {
  font-size: 102px;
  padding: 100px 0 40px;
}

.mainscreen__title::after {
  width: 0;
}

.mainscreen__text {
  font-size: 48px;
}

.mainscreen__svg {
  width: 100vw;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.about {
  margin: 80px 0;
  padding: 70px 0 0;
  background: url(../assets/map.png) 50% 50%/contain no-repeat;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 0;
}

.about__title {
  text-align: center;
  position: relative;
  z-index: 1;
  margin: -80px 0 0;
  padding: 0 0 40px;
}

.about__title::after {
  bottom: 20px;
  z-index: 1;
}

.about__content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(-500%, 0%);
      -ms-transform: translate(-500%, 0%);
          transform: translate(-500%, 0%);
}

.about__subtitle {
  font-size: 38px;
}

.about__text-bold {
  text-transform: uppercase;
  font-family: "InterFace-Bold";
}

.about__text {
  font-size: 20px;
  margin: 20px 0 0;
  font-weight: bold;
}

.products {
  margin: 0px auto 10px;
  padding: 60px 0;
  width: 100vw;
  overflow: hidden;
  background: url(../assets/world-bg.png) 50% 50%/contain no-repeat;
}

.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.products__row:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__row-small {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: 30px;
}

.products__column-lateral {
  margin: 80px 30px 30px;
}

.products__column-center {
  margin: 0px 30px 30px;
}

.products__item-wrapper {
  position: relative;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.products__item::before,
.products__item::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.products__item::before {
  border: 12px solid #ffffff;
}

.products__item:hover::before {
  border-top-color: #b9924e;
  border-right-color: #b9924e;
  border-bottom-color: #b9924e;
  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
  -o-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
}

.products__item::after {
  border: 0 solid transparent;
}

.products__item:hover::after {
  border-top: 12px solid #b9924e;
  border-left-width: 12px;
  border-right-width: 12px;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

.products__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.products__name {
  font-size: 18px;
  color: #b9924e;
  font-family: "InterFace-Bold";
  margin: 20px 0 0;
  text-align: center;
}

.products__item-content {
  text-align: center;
}

.products__title {
  padding: 0 0 40px;
}

.products__title::after {
  bottom: 30px;
}

.products__content {
  font-size: 20px;
  letter-spacing: 0.2px;
  font-weight: bold;
  color: #5a5959;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.team {
  background-color: #000000;
  font-family: "InterFace-Thin";
  padding: 0 0 200px;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.team__svg {
  margin: -10px 0 0;
}

.team__svg-bottom {
  position: absolute;
  bottom: -15px;
  width: 110vw;
}

.team__title {
  color: #b28b48;
  padding: 0px 0 80px;
  text-align: center;
  position: relative;
}

.team__title::after {
  content: '';
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60px;
  height: 3px;
  background-color: #b9924e;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  color: #ffffff;
  margin: 0 20px 0;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(-120%, 0%);
      -ms-transform: translate(-120%, 0%);
          transform: translate(-120%, 0%);
}

.team__column-small {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform: translate(120%, 0%);
      -ms-transform: translate(120%, 0%);
          transform: translate(120%, 0%);
}

.team__column-reverse {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transform: translate(120%, 0%);
      -ms-transform: translate(120%, 0%);
          transform: translate(120%, 0%);
}

.team__column-reverse-small {
  -webkit-transform: translate(-120%, 0%);
      -ms-transform: translate(-120%, 0%);
          transform: translate(-120%, 0%);
}

.team__photo {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__content {
  margin: 60px 0 0;
}

.team__name {
  font-size: 48px;
  margin: 0 0 20px;
}

.team__subtitle {
  font-size: 36px;
  margin: 0 0 10px;
}

.team__description {
  font-size: 24px;
}

.active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

.contact {
  margin: 60px 0 100px;
  padding: 60px 0 0;
}

.contact__title {
  padding: 0 0 40px;
}

.contact__title::after {
  bottom: 30px;
  left: 90px;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.contact .container {
  max-width: 80vw;
}

.contact-form {
  padding: 50px;
  background: #553c14;
  background: -webkit-gradient(linear, left top, right top, from(#553c14), color-stop(32%, #6e4e1f), to(#ac8f53));
  background: -o-linear-gradient(left, #553c14 0%, #6e4e1f 32%, #ac8f53 100%);
  background: linear-gradient(90deg, #553c14 0%, #6e4e1f 32%, #ac8f53 100%);
  font-family: "InterFace-Regular";
  border-radius: 0 20% 0 20%;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.contact-form textarea {
  resize: vertical;
}

.contact-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.contact-form__label {
  color: #ffffff;
  font-size: 18px;
  margin: 0 0 10px;
}

.contact-form__label.err {
  color: red;
}

.contact-form__label-star {
  color: red;
}

.contact-form__input {
  padding: 7px 10px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
}

.contact-form__input.err {
  border: 1px solid red;
}

.contact-form__input-file {
  display: none;
}

.contact-form__label-file {
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  width: 40%;
  background: url(../assets/upload.svg) 0 0/contain no-repeat;
  padding: 5px 5px 5px 40px;
}

.contact-form__file-edit {
  display: none;
}

.contact-form__file-edit.required {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form__file-edit span {
  color: red;
  padding: 0 0 0 10px;
  cursor: pointer;
}

.contact-form__file-name {
  color: #ffffff;
  font-size: 18px;
  padding: 5px 5px 5px 40px;
}

.contact-form__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-form__btn {
  padding: 15px 50px;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#ac8f53), color-stop(32%, #6e4e1f), to(#553c14));
  background: -o-linear-gradient(left, #ac8f53 0%, #6e4e1f 32%, #553c14 100%);
  background: linear-gradient(90deg, #ac8f53 0%, #6e4e1f 32%, #553c14 100%);
  color: #ffffff;
  border-radius: 40% 0 40% 0;
  -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
}

.contact-form__btn:hover {
  background: #553c14;
}

.contact-form__btn:active {
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.footer {
  background-color: #000000;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.footer .container {
  max-width: 80vw;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 0 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo-wrapper {
  width: 250px;
}

.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__bottom {
  color: #ffffff;
  padding: 20px 10px;
}

.social {
  margin: 40px 0 0;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  margin: 0 13px 0 0;
}

.footer-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-navigation__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 0 10px;
}

.footer-navigation__link {
  font-size: 20px;
  color: #b28b48;
}

.footer-navigation__link:hover {
  color: #ffffff;
}

@media (max-width: 1024px) {
  .lang.open {
    background-color: #ac8f53;
  }

  .lang.open p {
    color: #000000;
  }

  .lang.open .lang__list {
    opacity: 1;
  }

  .products__item.active::before {
    border-top-color: #b9924e;
    border-right-color: #b9924e;
    border-bottom-color: #b9924e;
    -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
    -o-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
  }

  .products__item.active::after {
    border-top: 12px solid #b9924e;
    border-left-width: 12px;
    border-right-width: 12px;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
  }
}

@media (max-width: 980px) {
  .products__column {
    margin: 30px 10px;
  }

  .products__column-lateral {
    margin: 30px 10px 10px;
  }

  .products__column-center {
    margin: 0px 10px 10px;
  }

  .products__item::before,
  .products__item::after {
    width: 150px;
    height: 150px;
  }

  .products__item img {
    width: 150px;
    height: 150px;
  }

  .products__item {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 780px) {
  .social__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }
}

@media (max-width: 767px) {
  .navigation {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navigation__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .navigation__burger span {
    position: absolute;
    background-color: #b28b48;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navigation__burger::before,
  .navigation__burger::after {
    content: '';
    background-color: #b28b48;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navigation__burger::before {
    top: 0;
  }

  .navigation__burger::after {
    bottom: 0;
  }

  .navigation__burger.open span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .navigation__burger.open::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .navigation__burger.open::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 60px;
    right: -80px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    width: 200px;
    padding: 20px;
    opacity: 0;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
  }

  .navigation__item {
    margin: 15px 0;
  }

  .navigation__link {
    font-size: 22px;
  }

  .team__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .team__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team__column-reverse {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .team__photo {
    height: 400px;
    width: 70%;
  }

  .team__content {
    text-align: center;
    margin: 40px 0 80px;
  }
}

@media (max-width: 630px) {
  .products {
    padding: 550px 0 420px;
  }

  .products__row-small .products__column {
    position: absolute;
    top: -0px;
    left: 50%;
  }

  .products__row-small .products__column:first-child {
    -webkit-transform: translate(-125%, 0);
        -ms-transform: translate(-125%, 0);
            transform: translate(-125%, 0);
  }

  .products__row-small .products__column:last-child {
    -webkit-transform: translate(20%, 0);
        -ms-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }

  .products__column-lateral {
    position: absolute;
    top: -370px;
    left: 50%;
  }

  .products__column-lateral:first-child {
    -webkit-transform: translate(-125%, 0);
        -ms-transform: translate(-125%, 0);
            transform: translate(-125%, 0);
  }

  .products__column-lateral:last-child {
    -webkit-transform: translate(20%, 0);
        -ms-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }

  .products__column-center {
    position: absolute;
    top: -510px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .products__column-up {
    position: absolute;
    top: -200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .products__column-down {
    position: absolute;
    top: 480px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .products__column-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 619px) {
  .contact-form__label-file {
    padding: 5px 5px 5px 60px;
  }
}

@media (max-width: 590px) {
  .footer .container {
    max-width: 90vw;
  }

  .social {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .footer-navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 550px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0;
  }
}

@media (max-width: 414px) {
  .team__photo {
    height: 300px;
    width: 80%;
  }
}

@media (max-width: 380px) {
  .products__item::before,
  .products__item::after {
    width: 100px;
    height: 100px;
  }

  .products__item img {
    width: 100px;
    height: 100px;
  }

  .products__item {
    width: 100px;
    height: 100px;
  }
}